* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-blue: #0f4c81;
  --secundary-blue: #2680eb;
  --secundary-blue-dark: #2571cf;
  --primary-error: #f31e2c;
  --secundary-error: #ef4e5981;
  --finished: #33c58b;
  --canceled: #e8505b;
  --notStated: #efa94e;
  --process: #3f51b5;
}
