.containerInput {
  display: flex;
  flex-direction: column;
  margin-top: 10%;

  label {
    padding-bottom: 0.5rem;
  }

  input {
    border-width: 0.36px;
    border-color: rgba(219, 219, 219, 0.36);
    box-shadow: 5px 5px 3px -2px rgba(0, 0, 0, 0.31);
    padding: 1rem;
    border-radius: 3px;

    &:focus {
      outline: none;
      border-color: var(--secundary-blue);
    }
  }
}
