.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;

  .wrapperLeft {
    width: 45%;
    background-color: #006ffe;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    p {
      width: 60%;
      margin: 0 auto;
      color: white;
      font-size: 30px;
      word-spacing: 0.12rem;
      margin: 2rem 0;
      font-weight: 100;
      line-height: 2.5rem;
      text-align: center;
    }

    .image {
      margin-top: 1rem;
    }
  }

  .wrapperRight {
    background: #fff;
    width: 100%;
    overflow: auto;

    .subscribe {
      width: 85%;
      margin: 0 auto;

      h2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1rem;
        font-weight: 600;
        color: var(--primary-blue);
      }

      p {
        font-size: 18px;
        color: var(--primary-blue);
        font-weight: 500;
        margin-bottom: 1rem;
      }

      header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        nav {
          margin-top: 2rem;
          margin-bottom: 2rem;
          width: 30%;
          display: flex;
          justify-content: space-between;

          a {
            text-decoration: none;
            color: black;

            &:hover {
              text-decoration: underline;
              text-decoration-color: var(--secundary-blue);
              color: var(--secundary-blue);
            }
          }
        }
      }

      h2 {
        margin-top: 2rem;
        margin-bottom: 4rem;
        font-size: 25px;
        font-weight: 600;
        color: var(--primary-blue);
      }

      .description {
        padding-bottom: 1.4rem;
        border-bottom-style: solid;
        border-bottom-color: #cfcfcf;
        border-bottom-width: thin;
        word-spacing: 0.01rem;
      }

      .form {
        .containInputs {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 2rem;
          div {
            width: 40%;
          }
        }

        .terms {
          width: 100%;
          padding-top: 2rem;
          padding-bottom: 2rem;
          color: #b9b9b9;

          input {
            margin-right: 1rem;
          }
        }

        .button {
          width: 20%;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .wrapperLeft,
    .wrapperRight {
      width: 100%;
    }

    .wrapperLeft {
      overflow: unset;
      background: rgb(0, 111, 254);
      background: -moz-linear-gradient(
        180deg,
        rgba(0, 111, 254, 1) 0%,
        rgba(255, 255, 255, 1) 93%
      );
      background: -webkit-linear-gradient(
        180deg,
        rgba(0, 111, 254, 1) 0%,
        rgba(255, 255, 255, 1) 93%
      );
      background: linear-gradient(
        180deg,
        rgba(0, 111, 254, 1) 0%,
        rgba(255, 255, 255, 1) 93%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006ffe",endColorstr="#ffffff",GradientType=1);
    }

    .wrapperRight {
      overflow: unset;
      .subscribe {
        width: 90%;
        margin: 0 auto;
        header {
          display: flex;
          flex-direction: row;
          justify-content: center;
          nav {
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 100%;
            display: flex;
            justify-content: space-between;

            a {
              text-decoration: none;
              color: black;

              &:hover {
                text-decoration: underline;
                text-decoration-color: var(--secundary-blue);
                color: var(--secundary-blue);
              }
            }
          }
        }
        .form {
          .containInputs {
            display: flex;
            flex-direction: column;
            margin-top: initial;

            div {
              margin-top: 1rem;
              width: 100%;
            }
          }
          .button {
            width: 100%;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}
